@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500&display=swap");

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
    color: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
